<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><h4 class="modal-title"><?php _e('Edit PM'); ?></h4></div>
<div class="modal-body">

    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="merchantid"><?php _e('Nama Merchant'); ?> *</label>
                <input type="text" class="form-control" id="merchantid" name="merchantid" value="<?php echo getSingleValue("clients","name",$tabelpm['merchantid']); ?>" readonly>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="form-group">
                <label for="assetid"><?php _e('Serial Number EDC'); ?> *</label>
                <input type="text" class="form-control" id="assetid" name="assetid" value="<?php echo $serialedc; ?>" readonly>
            </div>
        </div>

        <div class="col-md-6">
            <?php if(in_array("manageTicketAssignment",$perms)) { ?>
                <div class="form-group">
                    <label for="adminid"><?php _e('Nama ITFS'); ?></label>
                    <select class="form-control select2 select2-hidden-accessible" id="adminid" name="adminid" style="width: 100%;" tabindex="-1" aria-hidden="true">
                        <option value="0">Nobody</option>
                        <?php foreach ($admins as $admin) { ?>
                            <option value='<?php echo $admin['id']; ?>' <?php if($tabelpm['adminid'] == $admin['id']) echo "selected"; ?>><?php echo $admin['name']; ?></option>
                        <?php } ?>
                    </select>
                </div>
            <?php } ?>
            <?php if(!in_array("manageTicketAssignment",$perms)) { ?><input type="hidden" name="adminid" value="<?php echo $ticket['adminid']; ?>"><?php } ?>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="status">Status PM * (Harus di isi)</label>
                <select class="form-control select2" id="status" name="status" style="width: 100%;">
                    <option value="Completed" <?php if($tabelpm['status'] == "Completed") echo "selected"; ?>><?php _e('Completed'); ?></option>
                    <option value="Pending" <?php if($tabelpm['status'] == "Pending") echo "selected"; ?>><?php _e('Pending'); ?></option>                    
                    <option value="Not Yet" <?php if($tabelpm['status'] == "Not Yet") echo "selected"; ?>><?php _e('Not Yet'); ?></option>
                </select>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="kondisi_edc">Kondisi EDC * (Harus di isi)</label>
                <select class="form-control select2" id="kondisi_edc" name="kondisi_edc" style="width: 100%;">
                    <option value="Bisa Di Cek" <?php if($tabelpm['kondisi_edc'] == "Bisa Di Cek") echo "selected"; ?>><?php _e('Bisa Di Cek'); ?></option>
                    <option value="Tidak Dapat Di Cek" <?php if($tabelpm['kondisi_edc'] == "Tidak Dapat Di Cek") echo "selected"; ?>><?php _e('Tidak Dapat Di Cek'); ?></option>
                </select>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="detail_edc">Kondisi Detail EDC * (Harus di isi)</label>
                <select class="form-control select2" id="detail_edc" name="detail_edc" style="width: 100%;">
                    <option value="Baik" <?php if($tabelpm['detail_edc'] == "Baik") echo "selected"; ?>><?php _e('Baik'); ?></option>
                    <option value="Rusak" <?php if($tabelpm['detail_edc'] == "Rusak") echo "selected"; ?>><?php _e('Rusak'); ?></option>
                    <option value="EDC Di Simpan" <?php if($tabelpm['detail_edc'] == "Rusak") echo "selected"; ?>><?php _e('Rusak'); ?></option>
                    <option value="EDC Tidak Ada Di Lokasi" <?php if($tabelpm['detail_edc'] == "EDC Tidak Ada Di Lokasi") echo "selected"; ?>><?php _e('EDC Tidak Ada Di Lokasi'); ?></option>
                    <option value="Request Tarik" <?php if($tabelpm['detail_edc'] == "Request Tarik") echo "selected"; ?>><?php _e('Request Tarik'); ?></option>
                    <option value="Reschedule" <?php if($tabelpm['detail_edc'] == "Reschedule") echo "selected"; ?>><?php _e('Reschedule'); ?></option>
                    <option value="Kendala Pass" <?php if($tabelpm['detail_edc'] == "Kendala Pass") echo "selected"; ?>><?php _e('Kendala Pass'); ?></option>
                    <option value="Line Tlp/Wifi Bermasalah" <?php if($tabelpm['detail_edc'] == "Line Tlp/Wifi Bermasalah") echo "selected"; ?>><?php _e('Line Tlp/Wifi Bermasalah'); ?></option>
                    <option value="EDC Hilang" <?php if($tabelpm['detail_edc'] == "EDC Hilang") echo "selected"; ?>><?php _e('EDC Hilang'); ?></option>
                    
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="kondisi_merchant">Kondisi Merchant * (Harus di isi)</label>
                <select class="form-control select2" id="kondisi_merchant" name="kondisi_merchant" style="width: 100%;">
                    <option value="Buka" <?php if($tabelpm['kondisi_merchant'] == "Buka") echo "selected"; ?>><?php _e('Buka'); ?></option>
                    <option value="Tutup Sementara/Relokasi" <?php if($tabelpm['kondisi_merchant'] == "Tutup Sementara/Relokasi") echo "selected"; ?>><?php _e('Tutup Sementara/Relokasi'); ?></option>
                    <option value="Tutup Permanen" <?php if($tabelpm['kondisi_merchant'] == "Tutup Permanen") echo "selected"; ?>><?php _e('Tutup Permanen'); ?></option>


                </select>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="request_merchant">Request Merchant * (Opsional)</label>
                <select class="form-control select2" id="request_merchant" name="request_merchant" style="width: 100%;">
                    <option value="" <?php if($tabelpm['request_merchant'] == "") echo "selected"; ?>><?php _e('None'); ?></option>                    
                    <option value="Ubah Tipe EDC" <?php if($tabelpm['request_merchant'] == "Ubah Tipe EDC") echo "selected"; ?>><?php _e('Ubah Tipe EDC'); ?></option>
                    <option value="Ubah Data" <?php if($tabelpm['request_merchant'] == "Ubah Data") echo "selected"; ?>><?php _e('Ubah Data'); ?></option>
                    <option value="Request Tarik" <?php if($tabelpm['request_merchant'] == "Request Tarik") echo "selected"; ?>><?php _e('Request Tarik'); ?></option>
                    
                </select>
            </div>
        </div>
    </div>

    <input type="hidden" name="id" value="<?php echo $tabelpm['id']; ?>">
    <input type="hidden" name="action" value="editBatchPM">
    <input type="hidden" name="route" value="<?php echo $_GET['reroute']; ?>">
    <input type="hidden" name="routeid" value="">
    <input type="hidden" name="section" value="">
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> <?php _e('Cancel'); ?></button>
    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> <?php _e('Save'); ?></button>
</div>


<script type="text/javascript">
    $(".select2").select2();
    
    $(".select2tag").select2({
        tags: true,
        maximumSelectionLength: 1
    });
    
    $(".select2tags").select2({
        tags: true
    });
    </script>