<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
	<!-- Content Header (Page header) -->
	<section class="content-header">
			<h1 class="pull-left"><?php _e('Root Cause'); ?><small> <?php _e('Manage Root Cause'); ?></small></h1>
			<div class="pull-right"><?php if(in_array("addClient",$perms)) { ?><a onClick='showM("index.php?modal=rootcause/add&reroute=rootcause/rootcause");return false' data-toggle="modal" class="btn btn-primary btn-flat btn-sm"><?php _e('New Root Cause'); ?></a><?php } ?></div>
			<div style="clear:both"></div>
	</section>
	<!-- Main content -->
	<section class="content">
		<?php if(!empty($statusmessage)): ?>
				<div class="row"><div class='col-md-12'><div class="alert alert-<?php print $statusmessage["type"]; ?> alert-auto" role="alert"><?php print __($statusmessage["message"]); ?></div></div></div>
		<?php endif; ?>
		<div class="row">
			<div class="col-xs-12">
				<div class="box box-primary">

                    <div class="box-body">
						<div class="table-responsive">
	                        <table id="dataTablesFull" class="table table-striped table-hover table-bordered">
	                            <thead>
	                                <tr>
	                                    <th><?php _e('ID'); ?></th>
	                                    <th><?php _e('Root Cause'); ?></th>
										<th><?php _e('Sub Root Cause'); ?></th>
	                                    <th><?php _e('Keterangan'); ?></th>
										
										<!-- <th></th> -->
										<th class="text-right"></th>
	                                </tr>
	                            </thead>
	                            <tbody>
									<?php foreach ($rootcause as $rootcause) { ?>
		                                <tr>
		                                    <td><?php echo $rootcause['id']; ?></td>
		                                    <td><?php echo $rootcause['root_cause']; ?></td>
											<td><?php echo $rootcause['sub_rc']; ?></td>
		                                    <td><?php echo $rootcause['keterangan']; ?></td>
											<td>
												<div class='pull-right'>
													<div class="btn-group">
														<!-- <?php if(in_array("manageClient",$perms)) { ?><a href='?route=clients/manage&id=<?php echo $client['id']; ?>' class='btn btn-flat btn-primary btn-sm'><i class='fa fa-eye'></i></a><?php } ?> -->
														<?php if(in_array("editClient",$perms)) { ?><a href='#' onClick='showM("index.php?modal=customers/edit&reroute=customers/customers&id=<?php echo $customer['id']; ?>");return false' class='btn btn-flat btn-success btn-sm'><i class='fa fa-edit'></i></a><?php } ?>
														<?php if(in_array("deleteClient",$perms)) { ?><a href='#' onClick='showM("index.php?modal=customers/delete&reroute=customers/customers&id=<?php echo $customer['id']; ?>");return false' class='btn btn-flat btn-danger btn-sm'><i class='fa fa-trash-o'></i></a><?php } ?>
													</div>
												</div>
											</td>
		                                </tr>
									<?php } ?>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- /.content -->
</aside><!-- /.right-side -->
