<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1><?php _e('Dashboard'); ?></h1>
		<ol class="breadcrumb"><li><a href="?route=dashboard"><i class="fa fa-dashboard"></i> <?php _e('Home'); ?></a></li><li class="active"><?php _e('Dashboard'); ?></li></ol>
	</section>

	<section class="content">
		<div class="row">
			<div class="col-xs-8">
				<div class="box box-primary">
					<div class="box-header with-border">
						<h3 class="box-title"><?php _e('Information'); ?></h3>
						<div class="box-tools pull-right">
							   
						<button type="button" class="btn btn-box-tool pull-right" data-widget="collapse"><i class="fa fa-minus"></i></button>
							   
						</div>
					</div>
					
					<div class="box-body">
						<span class="text">
							Dashboard Under Maintenance
						</span>
						</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Main content -->
	
</aside><!-- /.right-side -->



<!-- ChartJS 1.0.1 -->
<script src="template/assets/plugins/chartjs/Chart.min.js"></script>



