<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1 class="pull-left"><?php _e('Maps'); ?><small> <?php _e('Manage'); ?></small></h1>
		<div style="clear:both"></div>
	</section>
	<!-- Main content -->
	<section class="content">
		<?php if(!empty($statusmessage)): ?>
		<div class="row">
			<div class='col-md-12'>
				<div class="alert alert-<?php print $statusmessage["type"]; ?> alert-auto" role="alert">
					<?php print __($statusmessage["message"]); ?></div>
			</div>
		</div>
		<?php endif; ?>
		<div class="row">
			<div class="col-xs-12">
				<div class="ibox ">
		<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
					
					<div class="ibox-content">
						<section id="mapid" ng-controller="GoogleMaps">
					<div id="mapid" style="width: 600px; height: 500px"></div>
							</section>
					</div>
				</div>

			</div>
		</div>
	</section><!-- /.content -->
</aside><!-- /.right-side -->

<script>
	L.Map = L.Map.extend({
    openPopup: function(popup) {
        //        this.closePopup();  // just comment this
        this._popup = popup;

        return this.addLayer(popup).fire('popupopen', {
            popup: this._popup
        });
    }
});

	var mymap = L.map('mapid').setView([-6.190819, 106.829507], 13);

	L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiemFrYXJpbyIsImEiOiJja2FqMWpkOGMwNmt0MnBwZnVuZmNsbjlkIn0.UFe2HrBG43aUrMZquwpPbw', {
	attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
	maxZoom: 18,
	id: 'mapbox/streets-v11',
	tileSize: 512,
	zoomOffset: -1,
	accessToken: 'pk.eyJ1IjoiemFrYXJpbyIsImEiOiJja2FqMWpkOGMwNmt0MnBwZnVuZmNsbjlkIn0.UFe2HrBG43aUrMZquwpPbw'
	}).addTo(mymap);
	var markers;
	$.ajax({
        type:'GET',
        url: 'api/api2/api/location.php',
        success: function (data){
		var markers = JSON.parse(data);
	for ( var i=0; i < markers.length; ++i ) 
	{
		
		
	L.marker( [markers[i].latitude, markers[i].longtitude] )
	.addTo(mymap)
	.bindPopup(markers[i].name + ", "+markers[i].nik);
	

	}
        }
    });
	


</script>