<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><h4 class="modal-title"><?php _e('Edit SPK'); ?></h4></div>
<div class="modal-body">

    <div class="row">


        

        <div class="col-md-4">
                <div class="form-group">
                    <label for="spk_number"><?php _e('SPK Number'); ?> *</label>
                    <input type="text" class="form-control" id="spk_number" name="spk_number" value="<?php echo $spkdata['spk_number']; ?>">
                </div>
            </div>

        <div class="col-md-4">
            <div class="form-group">
                <label for="wo_activity">WO Activity *</label>
                <select class="form-control select2new" id="wo_activity" name="wo_activity" style="width: 100%;">
                    <option value="INSTALLATION" <?php if($spkdata['wo_activity'] == "INSTALLATION") echo "selected"; ?>><?php _e('INSTALLATION'); ?></option>
                    <option value="REINIT" <?php if($spkdata['wo_activity'] == "REINIT") echo "selected"; ?>><?php _e('REINIT'); ?></option>
                    <option value="REPLACEMENT" <?php if($spkdata['wo_activity'] == "REPLACEMENT") echo "selected"; ?>><?php _e('REPLACEMENT'); ?></option>
                    <option value="WITHDRAW" <?php if($spkdata['wo_activity'] == "WITHDRAW") echo "selected"; ?>><?php _e('WITHDRAW'); ?></option>
                    <option value="QR CODE" <?php if($spkdata['wo_activity'] == "QR CODE") echo "selected"; ?>><?php _e('QR CODE'); ?></option>
                    <option value="ACRYLYIC" <?php if($spkdata['wo_activity'] == "ACRYLIC") echo "selected"; ?>><?php _e('ACRYLIC'); ?></option>
                    <option value="INSTALLATION STICKER" <?php if($spkdata['wo_activity'] == "INSTALLATION STICKER") echo "selected"; ?>><?php _e('INSTALLATION STICKER'); ?></option>
                </select>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label for="inc_cimb"><?php _e('INC CIMB'); ?> *</label>
                <input type="text" class="form-control" id="inc_cimb" name="inc_cimb" value="<?php echo $spkdata['inc_cimb']; ?>">
            </div>
        </div>

        <div class="col-md-4">
                <?php if(in_array("manageTicketAssignment",$perms)) { ?>
            <div class="form-group">
                <label for="id_itfs"><?php _e('ID ITFS'); ?></label>
                <select class="form-control select2new select2-hidden-accessible" id="id_itfs" name="id_itfs" style="width: 100%;" tabindex="-1" aria-hidden="true">
                    <option value="0">Nobody</option>
                    <?php foreach ($adminspk as $adminspk) { ?>
                        <option value='<?php echo $adminspk['id']; ?>' <?php if($spkdata['id_itfs'] == $adminspk['id']) echo "selected"; ?> ><?php echo $adminspk['name']; ?></option>
                    <?php } ?>
                </select>
            </div>
            <?php } ?>
            <?php if(!in_array("manageTicketAssignment",$perms)) { ?><input type="hidden" name="id_itfs" value="<?php echo $spkdata['id_itfs']; ?>"><?php } ?>
        </div>



        <div class="col-md-4">
            <?php if($isAdmin) { ?>
                <div class="form-group">
                    <label for="id_merchant"><?php _e('Merchant'); ?></label>
                    <select class="form-control merchantSelect select2-hidden-accessible" id="id_merchant" name="id_merchant" style="width: 100%;" tabindex="-1" aria-hidden="true">
                        
                        <?php if($spkdata['id_merchant'] != 0) { ?>
                            <option value="<?php echo $spkdata['id_merchant']; ?>"><?php echo getSingleValue("clients","name",$spkdata['id_merchant']) ; ?></option>
                        <?php } else { ?>
                            <option value="0"><?php _e('None'); ?></option>
                        <?php } ?>
                    </select>
                </div>
            <?php } ?>
            <?php if(!$isAdmin) { ?><input type="hidden" name="id_merchant" value="<?php echo $spkdata['id_merchant']; ?>"><?php } ?>
        </div>


        
    </div>

    <div class="row">
            <div class="col-md-4">
                    <div class="form-group">
                        <label for="reported_time"><?php _e('Reported times'); ?> *</label>
                        <input type="text" class="input-append date form_datetime" id="reported_time" name="reported_time" value="<?php echo $spkdata['reported_time']; ?>">
                    </div>
                </div>
        
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="received_time"><?php _e('Received times'); ?> *</label>
                        <input type="text" class="input-append date form_datetime" id="reported_time" name="received_time" value="<?php echo $spkdata['received_time']; ?>" >
                    </div>
                </div>
        
                <div class="col-md-4">
                        <div class="form-group">
                            <label for="c_date_wo"><?php _e('Completed times'); ?> *</label>
                            <input type="text" class="input-append date form_datetime" id="c_date_wo" name="c_date_wo" value="<?php echo $spkdata['c_date_wo']; ?>" >
                        </div>
                    </div>
    </div>

    <div class="row">
        <!-- <div class="col-md-6">
            <?php if($isAdmin) { ?>
                <div class="form-group">
                    <label for="userid"><?php _e('User'); ?></label>
                    <select class="form-control usersSelect select2-hidden-accessible" id="userid" name="userid" style="width: 100%;" tabindex="-1" aria-hidden="true">
                        <?php if($ticket['userid'] != 0) { ?>
                            <option value="<?php echo $ticket['userid']; ?>"><?php echo getSingleValue("people","name",$ticket['userid']) ; ?> (<?php echo getSingleValue("people","email",$ticket['userid']) ; ?>)</option>
                        <?php } else { ?>
                            <option value="0"><?php _e('None'); ?></option>
                        <?php } ?>
                    </select>
                </div>
            <?php } ?>
            <?php if(!$isAdmin) { ?><input type="hidden" name="userid" value="<?php echo $ticket['userid']; ?>"><?php } ?>
        </div> -->

        <!-- <div class="col-md-6">
            <?php if($isAdmin) { ?>
                <div class="form-group">
                    <label for="email"><?php _e('Email Address'); ?> *</label>
                    <input type="email" class="form-control" id="email" name="email" value="<?php echo $ticket['email']; ?>" required>
                </div>
            <?php } ?>
            <?php if(!$isAdmin) { ?><input type="hidden" name="email" value="<?php echo $ticket['email']; ?>"><?php } ?>
        </div> -->
    </div>


    <div class="row">

        <div class="col-md-4">
            <div class="form-group">
                <label for="id_sn_edc"><?php _e('SN EDC'); ?></label>
                <select class="form-control edcSelect select2-hidden-accessible" id="id_sn_edc" name="id_sn_edc" style="width: 100%;">
                    <?php if($spkdata['id_sn_edc'] != 0) { ?>
                        <option value="<?php echo $spkdata['id_sn_edc']; ?>"><?php echo getSingleValue("assets","serial",$spkdata['id_sn_edc']) ; ?></option>
                    <?php } else { ?>
                        <option value="0"><?php _e('None'); ?></option>
                    <?php } ?>
                </select>
            </div>
        </div>

        <div class="col-md-4">
                <div class="form-group">
                    <label for="id_sn_simcard"><?php _e('SN SIM'); ?></label>
                    <select class="form-control edcSelect select2-hidden-accessible" id="id_sn_simcard" name="id_sn_simcard" style="width: 100%;">
                        <?php if($spkdata['id_sn_edc'] != 0) { ?>
                            <option value="<?php echo $spkdata['id_sn_simcard']; ?>"><?php echo getSingleValue("assets","serial",$spkdata['id_sn_simcard']) ; ?></option>
                        <?php } else { ?>
                            <option value="0"><?php _e('None'); ?></option>
                        <?php } ?>
                    </select>
                </div>
            </div>

            <div class="col-md-4">
                    <div class="form-group">
                        <label for="spk_status">Status *</label>
                        <select class="form-control select2new" id="spk_status" name="spk_status" style="width: 100%;">
                            <option value="In Progress" <?php if($spkdata['spk_status'] == "In Progress") echo "selected"; ?>><?php _e('In Progress'); ?></option>
                            <option value="Close - Completed" <?php if($spkdata['spk_status'] == "Close - Completed") echo "selected"; ?>><?php _e('Close - Complete'); ?></option>
                            <option value="Open - Pending" <?php if($spkdata['spk_status'] == "Open - Pending") echo "selected"; ?>><?php _e('Open - Pending'); ?></option>
                        
                        </select>
                    </div>
                </div>

                

        <!-- <div class="col-md-6">
            <div class="form-group">
                <label for="projectid"><?php _e('Project'); ?></label>
                <select class="form-control projectsSelect select2-hidden-accessible" id="projectid" name="projectid" style="width: 100%;" tabindex="-1" aria-hidden="true">
                    <?php if($ticket['projectid'] != 0) { ?>
                        <option value="<?php echo $ticket['projectid']; ?>"><?php echo getSingleValue("projects","tag",$ticket['projectid']) ; ?> <?php echo getSingleValue("projects","name",$ticket['projectid']) ; ?></option>
                    <?php } else { ?>
                        <option value="0"><?php _e('None'); ?></option>
                    <?php } ?>
                </select>
            </div>
        </div> -->

    </div>

    <div class="row">
            <div class="col-md-12">
                    <div class="form-group">
                        <label for="wo_remarks"><?php _e('WO Remarks SPK'); ?> *</label>
                        <input type="text" class="form-control" id="wo_remarks" name="wo_remarks" value="<?php echo $spkdata['wo_remarks']; ?>">
                    </div>
                </div>
    </div>


    



    <input type="hidden" name="id" value="<?php echo $spkdata['id']; ?>">
    <input type="hidden" name="action" value="editSPK">
    <input type="hidden" name="route" value="<?php echo $_GET['reroute']; ?>">
    <input type="hidden" name="routeid" value="<?php echo $_GET['routeid']; ?>">
    <input type="hidden" name="section" value="<?php echo $_GET['section']; ?>">
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default btn-flat" data-dismiss="modal"><i class="fa fa-times"></i> <?php _e('Cancel'); ?></button>
    <button type="submit" class="btn btn-success btn-flat"><i class="fa fa-save"></i> <?php _e('Save'); ?></button>
</div>

<script type="text/javascript">
    $(function() { $(".select2new").select2(); });

    $(function() { $(".select2tag").select2({
        tags: true,
        maximumSelectionLength: 1
    }); });

    $(function() { $(".select2tags").select2({
        tags: true
    }); });





    var id_merchant = <?php echo $spkdata['id_merchant']; ?>;


    $("#id_merchant").on("change", function (e) {
        id_merchant = $("#id_merchant").val();
    });

	$('.edcSelect').select2({
		ajax: {
			url: "index.php",
			dataType: 'json',
			data: function (params) {
			  return {
				q: params.term, // search term
				qa: 'edcSelect',
                filterid: id_merchant
			  };
			},
			processResults: function (data,params) {
				return {
					results: $.map(data, function(obj) {
						return { id: obj.id, text: obj.text };
					})
				};
			},
			//cache: true,
	    },
	    minimumInputLength: 0,
		placeholder: "<?php _e('Please Select'); ?>",
	});

    $('.merchantSelect').select2({
		ajax: {
			url: "index.php",
			dataType: 'json',
			data: function (params) {
			  return {
				q: params.term, // search term
				qa: 'merchantSelect'
                
			  };
			},
			processResults: function (data,params) {
				return {
					results: $.map(data, function(obj) {
						return { id: obj.id, text: obj.text };
					})
				};
			},
			//cache: true,
	    },
	    minimumInputLength: 3,
		placeholder: "<?php _e('Please Select'); ?>",
	});


    
    
    $('.projectsSelect').select2({
        ajax: {
            url: "index.php",
            dataType: 'json',
            data: function (params) {
              return {
                q: params.term, // search term
                qa: 'projectsSelect',
                filterid: id_merchant
              };
            },
            processResults: function (data,params) {
                return {
                    results: $.map(data, function(obj) {
                        return { id: obj.id, text: obj.text };
                    })
                };
            },
            //cache: true,
        },
        minimumInputLength: 0,
        placeholder: "<?php _e('Please Select'); ?>",
    });


    $('.usersSelect').select2({
        ajax: {
            url: "index.php",
            dataType: 'json',
            data: function (params) {
              return {
                q: params.term, // search term
                qa: 'usersSelect',
                filterid: id_merchant
              };
            },
            processResults: function (data,params) {
                return {
                    results: $.map(data, function(obj) {
                        return { id: obj.id, text: obj.text };
                    })
                };
            },
            //cache: true,
        },
        minimumInputLength: 0,
        placeholder: "<?php _e('Please Select'); ?>",
        //tags: true,
        //maximumSelectionLength: 1
    });

    $(".form_datetime").datetimepicker({
        format: 'yyyy-mm-dd hh:ii',
        autoclose: true,
        todayBtn: true
    });


</script>
