<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><h4 class="modal-title"><?php _e('Edit Ticket'); ?></h4></div>
<div class="modal-body">

    <div class="row">


        

        <!-- <div class="col-md-4">
            <div class="form-group">
                <label for="departmentid"><?php _e('Department'); ?></label>
                <select class="form-control select2 select2-hidden-accessible" id="departmentid" name="departmentid" style="width: 100%;" tabindex="-1" aria-hidden="true">
        
                    <?php foreach ($departments as $department) { ?>
                        <option value='<?php echo $department['id']; ?>' <?php if($ticket['departmentid'] == $department['id']) echo "selected"; ?> ><?php echo $department['name']; ?></option>
                    <?php } ?>
                </select>
            </div>
        </div> -->


        <?php if($ticket['idcustomer'] != 6) { ?>
        <div class="col-md-6">
            <?php if($isAdmin) { ?>
                <div class="form-group">
                    <label for="clientid"><?php _e('Cabang'); ?></label>
                    <select class="form-control cabangSelect select2-hidden-accessible" id="clientid" name="clientid" style="width: 100%;" tabindex="-1" aria-hidden="true">
                        <?php if($ticket['clientid'] != 0) { ?>
                            <option value="<?php echo $ticket['clientid']; ?>"><?php echo getSingleValue("clients","name",$ticket['clientid']) ; ?></option>
                        <?php } else { ?>
                            <option value="0"><?php _e('None'); ?></option>
                        <?php } ?>
                    </select>
                </div>
            <?php } ?>
            <?php if(!$isAdmin) { ?><input type="hidden" name="clientid" value="<?php echo $ticket['clientid']; ?>"><?php } ?>

        </div>
        <?php } ?>

        <div class="col-md-6">
            <?php if(in_array("manageTicketAssignment",$perms)) { ?>
                <div class="form-group">
                    <label for="adminid"><?php _e('Assigned To'); ?></label>
                    <select class="form-control select2 select2-hidden-accessible" id="adminid" name="adminid" style="width: 100%;" tabindex="-1" aria-hidden="true">
                        <option value="0">Nobody</option>
                        <?php foreach ($admins as $admin) { ?>
                            <option value='<?php echo $admin['id']; ?>' <?php if($ticket['adminid'] == $admin['id']) echo "selected"; ?>><?php echo $admin['name']; ?></option>
                        <?php } ?>
                    </select>
                </div>
            <?php } ?>
            <?php if(!in_array("manageTicketAssignment",$perms)) { ?><input type="hidden" name="adminid" value="<?php echo $ticket['adminid']; ?>"><?php } ?>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="customer_ticket"><?php _e('Customer Ticket'); ?> *</label>
                <input type="text" class="form-control" id="customer_ticket" name="customer_ticket" value="<?php echo $ticket['customer_ticket']; ?>" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="subject"><?php _e('Subject'); ?> *</label>
                <input type="text" class="form-control" id="subject" name="subject" value="<?php echo $ticket['subject']; ?>" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="description"><?php _e('Description Problem'); ?> *</label>
                <input type="text" class="form-control" id="description" name="description" value="<?php echo $ticket['description']; ?>">
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label for="serial_number"><?php _e('Serial Number'); ?> *</label>
                <input type="text" class="form-control" id="serial_number" name="serial_number" value="<?php echo $ticket['serial_number']; ?>">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="action_ticket"><?php _e('Action'); ?> *</label>
                <input type="text" class="form-control" id="action_ticket" name="action_ticket" value="<?php echo $ticket['action_ticket']; ?>">
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label for="notes"><?php _e('Notes'); ?> *</label>
                <input type="text" class="form-control" id="notes" name="notes" value="<?php echo $ticket['notes']; ?>">
            </div>
        </div>
        
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="create_on"><?php _e('Create On'); ?> *</label>
                <input type="text" class="form-control form_datetime" id="create_on" name="create_on" value="<?php echo $ticket['create_on']; ?>">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="response_time"><?php _e('Response Time'); ?> *</label>
                <input type="text" class="form-control form_datetime" id="response_time" name="response_time" value="<?php echo $ticket['response_time']; ?>">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="part_received"><?php _e('Part Receive'); ?> *</label>
                <input type="text" class="form-control form_datetime" id="part_received" name="part_received" value="<?php echo $ticket['part_received']; ?>">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="departure_time"><?php _e('Departure Time'); ?> *</label>
                <input type="text" class="form-control form_datetime" id="departure_time" name="departure_time" value="<?php echo $ticket['departure_time']; ?>">
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label for="arrival"><?php _e('Arrival Time'); ?> *</label>
                <input type="text" class="form-control form_datetime" id="arrival" name="arrival" value="<?php echo $ticket['arrival']; ?>">
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label for="start_working"><?php _e('Start Working'); ?> *</label>
                <input type="text" class="form-control form_datetime" id="start_working" name="start_working" value="<?php echo $ticket['start_working']; ?>">
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label for="closed_time"><?php _e('Close Time'); ?> *</label>
                <input type="text" class="form-control form_datetime" id="closed_time" name="closed_time" value="<?php echo $ticket['closed_time']; ?>">
            </div>
        </div>
    </div>
    <?php if($ticket['idcustomer'] != 2) { ?>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group" id="pic">
                <label for="pic"><?php _e('PIC'); ?> *</label>
                <input type="text" class="form-control"name="pic" value="">
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group" id="phone_pic">
                <label for="phone_pic"><?php _e('PIC PHONE'); ?> *</label>
                <input type="text" class="form-control" name="phone_pic" value="">
            </div>
        </div>
    </div>
    <?php } ?>

    <div class="row">
        <!-- <div class="col-md-6">
            <?php if($isAdmin) { ?>
                <div class="form-group">
                    <label for="userid"><?php _e('User'); ?></label>
                    <select class="form-control usersSelect select2-hidden-accessible" id="userid" name="userid" style="width: 100%;" tabindex="-1" aria-hidden="true">
                        <?php if($ticket['userid'] != 0) { ?>
                            <option value="<?php echo $ticket['userid']; ?>"><?php echo getSingleValue("people","name",$ticket['userid']) ; ?> (<?php echo getSingleValue("people","email",$ticket['userid']) ; ?>)</option>
                        <?php } else { ?>
                            <option value="0"><?php _e('None'); ?></option>
                        <?php } ?>
                    </select>
                </div>
            <?php } ?>
            <?php if(!$isAdmin) { ?><input type="hidden" name="userid" value="<?php echo $ticket['userid']; ?>"><?php } ?>
        </div> -->

       
    </div>

    <?php if($ticket['idcustomer'] == 2) { ?>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group" id="id_case">
                <label for="id_case" ><?php _e('ID Case'); ?> *</label>
                <input type="text" class="form-control" name="id_case" value="<?php echo $ticket['id_case']; ?>">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" id="ref">
                <label for="ref"><?php _e('Ref'); ?> *</label>
                <input type="text" class="form-control" name="ref" value="<?php echo $ticket['ref']; ?>">
            </div>
        </div>
    </div>
    <?php } ?>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group" id="category_1" name="category_1" >
                <label for="category_1"><?php _e('Category 1'); ?></label>
                <select class="form-control category1Select select2-hidden-accessible" id="category_1" name="category_1" style="width: 100%;"  >
                    <?php if($ticket['category_1'] != 0) { ?>
                        <option value="<?php echo $ticket['category_1']; ?>"><?php echo getSingleValue("category_1","name",$ticket['category_1']) ; ?></option>
                    <?php } else { ?>
                        <option value="0"><?php _e('None'); ?></option>
                    <?php } ?>
                </select>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group" id="category_2" name="category_2" >
                <label for="category_2"><?php _e('Category 2'); ?></label>
                <select class="form-control category2Select select2-hidden-accessible" id="category_2" name="category_2" style="width: 100%;"  >
                    <?php if($ticket['category_2'] != 0) { ?>
                        <option value="<?php echo $ticket['category_2']; ?>"><?php echo getSingleValue("category_2","name",$ticket['category_2']) ; ?></option>
                    <?php } else { ?>
                        <option value="0"><?php _e('None'); ?></option>
                    <?php } ?>
                </select>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group" id="category_3" name="category_3" >
                <label for="category_3"><?php _e('Category 3'); ?></label>
                <select class="form-control category3Select select2-hidden-accessible" id="category_3" name="category_3" style="width: 100%;"  >
                    <?php if($ticket['category_3'] != 0) { ?>
                        <option value="<?php echo $ticket['category_3']; ?>"><?php echo getSingleValue("category_3","name",$ticket['category_3']) ; ?></option>
                    <?php } else { ?>
                        <option value="0"><?php _e('None'); ?></option>
                    <?php } ?>
                </select>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group" id="device_problem" name="category_1" >
                <label for="device_problem"><?php _e('Device Problem'); ?></label>
                <select class="form-control deviceSelect select2-hidden-accessible" id="device_problem" name="device_problem" style="width: 100%;"  >
                    <?php if($ticket['device_problem'] != 0) { ?>
                        <option value="<?php echo $ticket['device_problem']; ?>"><?php echo getSingleValue("device_problem","name",$ticket['device_problem']) ; ?></option>
                    <?php } else { ?>
                        <option value="0"><?php _e('None'); ?></option>
                    <?php } ?>
                </select>
            </div>
        </div>
        
    </div>


    <div class="row">
        <?php if($ticket['idcustomer'] != 6) { ?>
        <div class="col-md-6">
            <div class="form-group">
                <label for="assetid"><?php _e('Asset'); ?></label>
                <select class="form-control assetsSelect select2-hidden-accessible" id="assetid" name="assetid" style="width: 100%;">
                    <?php if($ticket['assetid'] != 0) { ?>
                        <option value="<?php echo $ticket['assetid']; ?>"><?php echo getSingleValue("assets","tag",$ticket['assetid']) ; ?> <?php echo getSingleValue("assets","name",$ticket['assetid']) ; ?></option>
                    <?php } else { ?>
                        <option value="0"><?php _e('None'); ?></option>
                    <?php } ?>
                </select>
            </div>
        </div>
        <?php }?>

        

    </div>


    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="priority">Priority *</label>
                <select class="form-control select2" id="priority" name="priority" style="width: 100%;">
                    <option value="Low" <?php if($ticket['priority'] == "Low") echo "selected"; ?>><?php _e('Low'); ?></option>
                    <option value="Normal" <?php if($ticket['priority'] == "Normal") echo "selected"; ?>><?php _e('Normal'); ?></option>
                    <option value="High" <?php if($ticket['priority'] == "High") echo "selected"; ?>><?php _e('High'); ?></option>
                </select>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group" id="status" name="status">
                <label for="status"><?php _e('Status'); ?></label>
                <select class="form-control statusSelect select2-hidden-accessible" id="status" name="status" style="width: 100%;"  >
                    <?php if($ticket['status'] != 0) { ?>
                        <option value="<?php echo $ticket['status']; ?>"><?php echo getSingleValue("status_tickets","name",$ticket['status']) ; ?></option>
                    <?php } else { ?>
                        <option value="0"><?php _e('None'); ?></option>
                    <?php } ?>
                </select>
            </div>
        </div>


        <div class="col-md-4">
            <div class="form-group">
                <label for="close_by" class="control-label"><?php _e('Closed By'); ?></label>
                <select class="form-control select2" id="close_by" name="close_by" style="width: 100%;">
                    <option value="Not Set"<?php if($ticket['close_by'] == "Not Set") echo "selected"; ?>><?php _e('Not Set'); ?></option>
                    <option value="Visit"<?php if($ticket['close_by'] == "Visit") echo "selected"; ?>><?php _e('Visit'); ?></option>
                    <option value="Remote" <?php if($ticket['close_by'] == "Remote") echo "selected"; ?>><?php _e('Remote'); ?></option>
                </select>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="visit"><?php _e('Visit'); ?></label>
                <div class="input-group">
                    <input type="number" class="form-control" id="visit" name="visit"  value="<?php echo $ticket['visit']; ?>">
                    <span class="input-group-addon"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <?php if($isAdmin) { ?>
                <div class="form-group">
                    <label for="email"><?php _e('Email Address'); ?> *</label>
                    <input type="email" class="form-control" id="email" name="email" value="<?php echo $ticket['email']; ?>" required>
                </div>
            <?php } ?>
            <?php if(!$isAdmin) { ?><input type="hidden" name="email" value="<?php echo $ticket['email']; ?>"><?php } ?>
        </div>
        <div class="col-md-12" <?php if(!$isAdmin) { ?>style="display:none"<?php } ?>>
            <div class="form-group">
                <label for="ccs"><?php _e('CC Recipients'); ?></label>
                <select class="form-control select2tags select2-hidden-accessible" id="ccs" name="ccs[]" style="width: 100%;" multiple>
                    <?php foreach ($ccs as $cc) { ?>
                        <option value='<?php echo $cc; ?>' selected><?php echo $cc; ?></option>
                    <?php } ?>

                    <?php foreach ($contacts as $contact) { ?>
                        <option value='<?php echo $contact['email']; ?>' ><?php echo $contact['email']; ?></option>
                    <?php } ?>
                </select>
            </div>
        </div>



    </div>

    <input type="hidden" name="id" value="<?php echo $ticket['id']; ?>">
    <input type="hidden" name="idcustomer" value="<?php echo $ticket['idcustomer']; ?>">
    <input type="hidden" name="action" value="editTicket">
    <input type="hidden" name="route" value="<?php echo $_GET['reroute']; ?>">
    <input type="hidden" name="routeid" value="<?php echo $_GET['routeid']; ?>">
    <input type="hidden" name="section" value="<?php echo $_GET['section']; ?>">
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default btn-flat" data-dismiss="modal"><i class="fa fa-times"></i> <?php _e('Cancel'); ?></button>
    <button type="submit" class="btn btn-success btn-flat"><i class="fa fa-save"></i> <?php _e('Save'); ?></button>
</div>

<script type="text/javascript">
    $(function() { $(".select2").select2(); });

    $(function() { $(".select2tag").select2({
        tags: true,
        maximumSelectionLength: 1
    }); });

    $(function() { $(".select2tags").select2({
        tags: true
    }); });

    $(".form_datetime").datetimepicker({
            format: 'yyyy-mm-dd hh:ii',
            autoclose: true,
            todayBtn: true
        });





    var clientid = <?php echo $ticket['clientid']; ?>;
    var idcustomer = <?php echo $ticket['idcustomer']; ?>;

    
    
    $("#clientid").on("change", function (e) {
        clientid = $("#clientid").val();
    });

    $("#category_1").on("change", function (e) {
        category_1 = $("#category_1").val();
    });

    $("#category_2").on("change", function (e) {
        category_2 = $("#category_2").val();
    });

    $('.statusSelect').select2({
    		ajax: {
    			url: "index.php",
    			dataType: 'json',
                delay: 50,
    			data: function (params) {
    			  return {
    				q: params.term, // search term
    				qa: 'statusSelect',
                    filterid: idcustomer
    			  };
    			},
    			processResults: function (data,params) {
    				return {
    					results: $.map(data, function(obj) {
    						return { id: obj.id, text: obj.text };
    					})
    				};
    			},
    			cache: true,
                
    	    },
    	    
    		placeholder: "<?php _e('Please Select'); ?>",
    	});

    $('.category1Select').select2({
    		ajax: {
    			url: "index.php",
    			dataType: 'json',
                delay: 50,
    			data: function (params) {
    			  return {
    				q: params.term, // search term
    				qa: 'category1Select',
                    filterid: idcustomer,

    			  };
    			},
    			processResults: function (data,params) {
    				return {
    					results: $.map(data, function(obj) {
    						return { id: obj.id, text: obj.text };
    					})
    				};
    			},
    			cache: true,
                
    	    },
    	    
    		placeholder: "<?php _e('Please Select'); ?>",
    	});

        $('.category2Select').select2({
    		ajax: {
    			url: "index.php",
    			dataType: 'json',
                delay: 50,
    			data: function (params) {
    			  return {
    				q: params.term, // search term
    				qa: 'category2Select',
                    filterid: idcustomer,
                    categoryid: category_1

    			  };
    			},
    			processResults: function (data,params) {
    				return {
    					results: $.map(data, function(obj) {
    						return { id: obj.id, text: obj.text };
    					})
    				};
    			},
    			cache: true,
                
    	    },
    	    
    		placeholder: "<?php _e('Please Select'); ?>",
    	});

        $('.category3Select').select2({
    		ajax: {
    			url: "index.php",
    			dataType: 'json',
                delay: 50,
    			data: function (params) {
    			  return {
    				q: params.term, // search term
    				qa: 'category3Select',
                    filterid: idcustomer,
                    categoryid: category_2

    			  };
    			},
    			processResults: function (data,params) {
    				return {
    					results: $.map(data, function(obj) {
    						return { id: obj.id, text: obj.text };
    					})
    				};
    			},
    			cache: true,
                
    	    },
    	    
    		placeholder: "<?php _e('Please Select'); ?>",
    	});
    

    $('.cabangSelect').select2({
    		ajax: {
    			url: "index.php",
    			dataType: 'json',
                delay: 50,
    			data: function (params) {
    			  return {
    				q: params.term, // search term
    				qa: 'cabangSelect',
                    filterid: idcustomer
    			  };
    			},
    			processResults: function (data,params) {
    				return {
    					results: $.map(data, function(obj) {
    						return { id: obj.id, text: obj.text };
    					})
    				};
    			},
    			cache: true,
                
    	    },
    	    minimumInputLength: 3,
    		placeholder: "<?php _e('Please Select'); ?>",
    	});

        $('.deviceSelect').select2({
    		ajax: {
    			url: "index.php",
    			dataType: 'json',
                delay: 50,
    			data: function (params) {
    			  return {
    				q: params.term, // search term
    				qa: 'deviceSelect',
                    filterid: idcustomer
    			  };
    			},
    			processResults: function (data,params) {
    				return {
    					results: $.map(data, function(obj) {
    						return { id: obj.id, text: obj.text };
    					})
    				};
    			},
    			cache: true,
                
    	    },
    		placeholder: "<?php _e('Please Select'); ?>",
    	});

	$('.assetsSelect').select2({
		ajax: {
			url: "index.php",
			dataType: 'json',
			data: function (params) {
			  return {
				q: params.term, // search term
				qa: 'assetsSelect',
                filterid: clientid
			  };
			},
			processResults: function (data,params) {
				return {
					results: $.map(data, function(obj) {
						return { id: obj.id, text: obj.text };
					})
				};
			},
			cache: true,
	    },
	    minimumInputLength: 0,
		placeholder: "<?php _e('Please Select'); ?>",
	});

    $('.projectsSelect').select2({
        ajax: {
            url: "index.php",
            dataType: 'json',
            data: function (params) {
              return {
                q: params.term, // search term
                qa: 'projectsSelect',
                filterid: clientid
              };
            },
            processResults: function (data,params) {
                return {
                    results: $.map(data, function(obj) {
                        return { id: obj.id, text: obj.text };
                    })
                };
            },
            //cache: true,
        },
        minimumInputLength: 0,
        placeholder: "<?php _e('Please Select'); ?>",
    });


    $('.usersSelect').select2({
        ajax: {
            url: "index.php",
            dataType: 'json',
            data: function (params) {
              return {
                q: params.term, // search term
                qa: 'usersSelect',
                filterid: clientid
              };
            },
            processResults: function (data,params) {
                return {
                    results: $.map(data, function(obj) {
                        return { id: obj.id, text: obj.text };
                    })
                };
            },
            //cache: true,
        },
        minimumInputLength: 0,
        placeholder: "<?php _e('Please Select'); ?>",
        //tags: true,
        //maximumSelectionLength: 1
    });
    


</script>



